{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'stylesheet.css' }}">
{% endblock %}

{% block custom_title %}
{% endblock %}

{% block custom_content %}
<p> Es folgen noch einige Fragen. Wir bitten Sie, auch diese aufmerksam und ehrlich zu beantworten, da Ihre Teilnahme einen wichtigen Beitrag leistet. </p>

<!-- Continue Button -->
<br> 
<div style="display: flex; justify-content: flex-end; margin-top: 10px;">
    <button class="otree-btn-next btn btn-primary">Weiter</button>
</div>
<br>
<br>
<footer style="text-align: center;">
Verwendete Bilder:
<a href="https://members.parliament.uk/members/Commons" target="_blank" style="color: blue; text-decoration: underline;">© House of Commons</a>; Lizenz:
<a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" style="color: blue; text-decoration: underline;">
Attribution 3.0 Unported (CC BY 3.0)</a>. Bilder wurden geringfügig verändert.
</footer>


{% endblock %}