{% extends "global/LanguageVersion_Global.html" %}
{% load otree static %}


{% block content %}
<input id="time" type="hidden" name="time_vignett_app" />
<br>
<p><i>Bitte lesen Sie den folgenden Text sorgfältig und beantworten Sie die unten stehende Frage.</i></p>

<div>
{{ player.g_age_child }}  berichtete {{ player.g_gender_child }}  Eltern, dass 
{{ player.g_gender_instructor_mapped_3 }} eines
{{ player.g_music_sport }} {{ player.g_school_mapped }}
{{ player.g_kind_of_abuse }}{{ player.g_kind_of_abuse_mapped }} an den Tag gelegt habe. 
Die Eltern alarmierten einen Elternvertreter, um mit {{ player.g_director }}
{{ player.g_school_mapped_2 }} und den anderen Vertretern zu diskutieren, damit solche
 Vorfälle in Zukunft verhindert werden können.
{{ player.g_director_mapped }}  weigerte sich, etwas zu unternehmen, da der {{ player.g_music_sport_mapped }} von
einer externen {{ player.g_music_sport_mapped_2 }} organisiert wurde. Nach diesen Ereignissen
 blieben alle anderen Eltern über diesen Vorfall
uninformiert.
</div>
<br>
<div >
Mehrere Monate später wurde ein Kind {{ player.g_school_mapped_3 }} 
{{ player.g_kind_of_abuse_mapped_2 }} ausgesetzt. {{ player.g_gender_second_child }}
 Eltern erfuhren zufälligerweise von dem vergangenen Vorfall des {{ player.g_music_sport }} und wandten sich an ein Mitglied der Schulleitung, das nach dem
Vorfall auch {{ player.g_gender_instructor }} traf. Demnach gab {{ player.g_gender_instructor_mapped }} 
Verhalten zu, allerdings ohne böse Absicht. Auf dieser Grundlage sah {{ player.g_school_mapped_4 }} das Problem als gelöst und ergriff 
keine weiteren Maßnahmen. Die
Eltern des {{ player.g_kind_of_abuse_mapped_3 }} Kindes forderten 
{{ player.g_director_mapped_2 }} auf, sich an die {{ player.g_music_sport_mapped_2 }} zu 
wenden, um die Situation aufzuklären. {{ player.g_director_mapped_3 }} lehnte dies jedoch ab und bat die Eltern, selbst mit der
{{ player.g_music_sport_mapped_2 }} zu sprechen.
</div>
<br>
<div >
Bei einem Treffen mit den Eltern erklärte die {{ player.g_music_sport_mapped_2 }},
 dass es keinen solchen Vorfall gegeben habe und
die Lehrkraft die Kinder nur daran gehindert habe, während des Unterrichts 
{{ player.g_kind_of_abuse_mapped_4 }} Verhalten
aufzuzeigen. {{ player.g_gender_external_director }} sagte auch, dass es eine Aussage
 {{ player.g_gender_instructor_mapped_2 }} gebe, welche
den Eltern jedoch nicht zugänglich gemacht wurde. {{ player.g_gender_external_director_mapped }} warf den Eltern außerdem vor, dass sie eine Rufschädigung
verursacht hätten, einzig auf der Grundlage der Aussage eines {{ player.g_age_child_mapped }} Kindes vor 
einigen
Monaten.
</div>

<br>
<div class="mb-3 border pt-2 pb-2 px-2">
    <p > Was denken Sie, nachdem Sie diese Geschichte gelesen haben? Hat {{ player.g_gender_instructor_mapped_3 }} {{ player.g_kind_of_abuse_mapped_4 }} Verhalten gezeigt?</p>
    

    <div ><input type="radio" name="harassment" value="1"> {{ player.g_gender_instructor_mapped_4 }} hat {{ player.g_kind_of_abuse_mapped_4 }} Verhalten gezeigt.</div>
    
    <div ><input type="radio" name="harassment" value="2"> Es ist sehr wahrscheinlich, dass {{ player.g_gender_instructor_mapped_3 }} {{ player.g_kind_of_abuse_mapped_4 }} Verhalten gezeigt hat.</div>
    
    <div ><input type="radio" name="harassment" value="3"> Es ist eher wahrscheinlich, dass {{ player.g_gender_instructor_mapped_3 }} {{ player.g_kind_of_abuse_mapped_4 }}  Verhalten gezeigt hat. </div>
    
    <div ><input type="radio" name="harassment" value="4"> Es ist eher unwahrscheinlich, dass {{ player.g_gender_instructor_mapped_3 }} {{ player.g_kind_of_abuse_mapped_4 }}  Verhalten gezeigt hat.</div>
    
    <div ><input type="radio" name="harassment" value="5"> Es ist sehr unwahrscheinlich, dass {{ player.g_gender_instructor_mapped_3 }} {{ player.g_kind_of_abuse_mapped_4 }}  Verhalten gezeigt hat.</div>
    
    <div ><input type="radio" name="harassment" value="6"> {{ player.g_gender_instructor_mapped_4 }} hat kein {{ player.g_kind_of_abuse_mapped_4 }}  Verhalten gezeigt.</div>
    
    <div ><input type="radio" name="harassment" value="-999"> Ich kann dazu nichts sagen.</div>
    
</div>
<br>
<br>
<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    <span > Weiter </span>
</button>
{% endblock %}