{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<!-- Centering text elements, but not the button -->
<div style="text-align: center; font-size: 18px;">
    Bitte schauen Sie sich diese Person für mindestens 3 Sekunden genau an <br> und beantworten Sie dann die Frage.
</div>
<br>

<br>
<p style="text-align: center; font-size: 20px;"><b>
    {% if displayed_question == 'competence' %}
    Wie schätzen Sie die <span style="font-weight: bold; color: #008080; text-decoration: underline;">Kompetenz</span> dieser Politikerin ein?
    {% elif displayed_question == 'trustworthiness' %}
    Wie <span style="font-weight: bold; color: #FFA500; text-decoration: underline;">vertrauenswürdig</span> ist diese Politikerin Ihrer Meinung nach?
    {% endif %}
    </b></p>

<!-- Center the image using CSS -->
<div style="text-align: center;">
    <!-- access the image path variable and display the correct picture -->
    <img id="politician" width="50%" height="50%" src="{{ image_path }}" />
</div>

<!-- Hidden input field for the picture assignment -->
<input id="picture_assignment" type="hidden" name="picture_assignment" value="{{ assigned_picture }}" />

<!-- Hidden popout question initially -->
<div id="popout-question" style="display: none; text-align: center;">

        <form method="post">
            <table style="border-collapse: collapse; text-align: center; width: 60%; table-layout: fixed; margin-left: auto; margin-right: auto;">
                <thead>
                    <tr>
                        <th style="width: 30%;"></th>
                        <th style="width: 10%;"></th>
                        <th style="width: 10%;"></th>
                        <th style="width: 10%;"></th>
                        <th style="width: 10%;"></th>
                        <th style="width: 10%;"></th>
                        <th style="width: 30%;"></th>
                        <th style="padding: 0px; font-size: 16px; line-height: 1.5; margin: 0;">Keine Anngabe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: right; font-weight: bold;">
                            {% if displayed_question == 'competence' %}
                            Überhaupt nicht kompetent
                            {% elif displayed_question == 'trustworthiness' %}
                            Überhaupt nicht vertrauenswürdig
                            {% endif %}
                        </td>
                        <td><input type="radio" name="popout_question_competence" value="1" {% if player.popout_question_competence == 1 %} checked {% endif %} class="large-radio"></td>
                        <td><input type="radio" name="popout_question_competence" value="2" {% if player.popout_question_competence == 2 %} checked {% endif %} class="large-radio"></td>
                        <td><input type="radio" name="popout_question_competence" value="3" {% if player.popout_question_competence == 3 %} checked {% endif %} class="large-radio"></td>
                        <td><input type="radio" name="popout_question_competence" value="4" {% if player.popout_question_competence == 4 %} checked {% endif %} class="large-radio"></td>
                        <td><input type="radio" name="popout_question_competence" value="5" {% if player.popout_question_competence == 5 %} checked {% endif %} class="large-radio"></td>
                        <td style="text-align: left; font-weight: bold;">
                            {% if displayed_question == 'competence' %}
                            Sehr kompetent
                            {% elif displayed_question == 'trustworthiness' %}
                            Sehr vertrauens-<br>würdig
                            {% endif %}
                        </td>
                        <td><input type="radio" name="popout_question_competence" value="-1" {% if player.popout_question_competence == -1 %} checked {% endif %} class="large-radio"></td>
                    </tr>
                </tbody>
            </table>

        <div class="form-errors">
            {{ formfield_errors 'popout_question_competence' }}
            <br> 
            <!-- Button stays aligned to the right -->
            <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                <button class="otree-btn-next btn btn-primary">Weiter</button>
            </div>
        </form>
    </div>

<script>
    // Show the popout question after 3 seconds
    setTimeout(function() {
        document.getElementById("popout-question").style.display = "block";
    }, 3);  // 3000 milliseconds = 3 seconds
</script>

<!-- Custom CSS for larger radio buttons -->
<style>
    .large-radio {
        transform: scale(1.5); /* Increase the size of the radio button */
    }
</style>

{% endblock %}
