{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h2> Befragung zur Wahrnehmung von Politikerinnen </h2>
<hr>
{% endblock %}

{% block content %}
<p style="font-size: 18px;">
    Nun möchten wir uns einem anderen Thema zuwenden. <br> <br>

    In diesem Teil der Befragung werden Ihnen verschiedene Bilder von Politikerinnen präsentiert. Bitte nehmen Sie sich ausreichend Zeit, um jedes Bild genau zu betrachten. 
    Es ist wichtig, dass Sie die Bilder sorgfältig ansehen, um Ihnen eine möglichst klare Einschätzung zu ermöglichen . 
    Im ersten Block werden Ihnen insgesamt <span style="font-weight: bold; text-decoration: underline;">10 Bilder</span> angezeigt.<br>
    Zu jedem Bild sollen Sie entweder die <span style="font-weight: bold; color: #008080; text-decoration: underline;">Kompetenz</span> oder die
    <span style="font-weight: bold; color: #FFA500; text-decoration: underline;">Vertrauenswürdigkeit</span> der abgebildeten Politikerin bewerten. 
    Überlegen Sie bei jeder Antwort, wie die jeweilige Person auf Sie wirkt und welche Eigenschaften Sie ihr zuschreiben würden.
    <br> <br>
    Nach diesem Block folgt ein zweiter Abschnitt mit <span style="font-weight: bold; text-decoration: underline;">weiteren 10 Bildern.</span> Auch hier sollen Sie jeweils eine spezifische Frage zu den dargestellten Personen beantworten. 
    Wir bitten Sie, alle Fragen so ehrlich und präzise wie möglich zu beantworten, da Ihre Antworten für die Auswertung von großer Bedeutung sind.
    <br> <br>
    Vielen Dank für Ihre Zeit und Ihre Teilnahme an dieser Studie! Ihre Antworten tragen dazu bei, ein besseres Verständnis darüber zu gewinnen, wie Menschen öffentliche Persönlichkeiten wahrnehmen. <br>
    Sobald Sie bereit sind klicken Sie bitte auf den <b>"Weiter"</b>-Button.
</p>

<!-- paper for the color selection: https://ieeexplore.ieee.org/abstract/document/6875961-->




<!-- Continue Button -->
<br> 
<div style="display: flex; justify-content: flex-end; margin-top: 10px;">
    <button class="otree-btn-next btn btn-primary">Weiter</button>
</div>



{% endblock %}
