{% extends "global/Page.html" %}
{% load otree %}

{{ block content }}

<div id="content">
    <p>
        Auf der folgenden Seite beginnen Sie mit dem ersten Modul der Umfrage. Ihnen werden Beträge gezeigt und anschließend einige Fragen gestellt. Bitte lesen Sie die Texte aufmerksam und folgen Sie den Anweisungen. 
    </p>
    <p>
        Bitte klicken Sie "Weiter".
    </p>

</div>
    
<!-- next button -->
{{ include 'global/Next_Page_Button.html' }}

<script>
    window.onload = function () {
        if (js_vars["link"] != "") {
            window.location.replace(js_vars["link"]);
        } else {
            finish_loading();
        }
    }
</script>
    
{{ endblock }}